QQ_BOT_APP_ID=your_app_id_here
QQ_BOT_CLIENT_SECRET=your_client_secret_here
QQ_OPEN_ID=your_openid_here

REDIS_URL=redis://localhost:6379
REDIS_SOURCE_CHANNELS=qqbot,qqbot2
REDIS_RETWEET_CHANNEL=qqbot_retweet